bankends
bpp2png
bspcomp
gfx
lzcomp
make_patch
png_dimensions
pokemon_animation
pokemon_animation_graphics
scan_includes
vwf

# Ignore generated objects from polished_save_patcher
polished_save_patcher/*.o
polished_save_patcher/*.html
polished_save_patcher/*.data
polished_save_patcher/*.js
polished_save_patcher/*.wasm
polished_save_patcher/*.mem
polished_save_patcher/*.worker.js
